# Node.js dependencies
node_modules/

# Build directories
dist/
build/

# Environment variables
.env

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml
.env